.features {
  background-color: $lightGrayishBlue;
  padding: 6rem 2.6rem;
  text-align: center;

  &__text {
    margin: 0 auto 6rem;
  }
  &__item:not(:last-child) {
    margin: 0 auto 3.5rem;
  }
  &__icon,
  &__title {
    margin-bottom: 2rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
