.features {
  background-color: $lightGrayishBlue;
  text-align: center;

  &__text {
    margin: 0 auto 6rem;
    h2 {
      padding: 0 2rem;
    }
    @include breakpoint-up(large) {
      width: 50%;
      margin-left: 0;
      h2 {
        padding: 0;
      }
    }
  }
  &__item:not(:last-child) {
    margin: 0 auto 3.5rem;
  }
  &__icon {
    img {
      transition: all 200ms ease;
    }
    img:hover {
      transform: scaleX(-1);
    }
  }
  &__icon,
  &__title {
    margin-bottom: 2rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @include breakpoint-up(large) {
    text-align: left;
  }
}
