.hero {
  background-color: $veryLightGray;
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  &__img {
    position: relative;
    background-image: url(/images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: center center;
    min-height: 28rem;
    @include breakpoint-up(large) {
      flex: 3;
      min-height: 67rem;
      background-image: url(/images/bg-intro-desktop.svg);
    }

    &::before {
      content: "";
      background-image: url(/images/image-mockups.png);
      background-size: cover;
      background-position: center bottom;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      height: 100%;
      width: 90%;
      @include breakpoint-up(large) {
        transform: translate(-30%);
      }
    }
  }
  &__text {
    text-align: center;
    padding: 2.6rem;
    @include breakpoint-up(large) {
      flex: 2;
      text-align: left;
    }
    h1 {
      line-height: 1.2;
      font-weight: 300;
      font-size: clamp(3.5rem, 5vw, 5rem);
      color: $darkBlue;
    }
    p {
      text-align: start;
      font-size: clamp(1.5rem, 1.7vw, 2rem);
      margin-bottom: 3.4rem;
    }
    button {
      margin-bottom: 8.8rem;
    }
  }
}
